body
{
	height:			100%;
	width:			100%;
	margin: 		0px auto;
	border-color: 	#0f0;
}

.content
{
	width: 			100%;
	margin: 		0px auto;
}

#main_markpanel
{	
	border-radius:	10px;
	border: 		2px solid;
	border-color: 	white;
	background-color: white;
	text-align:		center;
	margin: 		0px auto;
	width: 			100%;
	height: 		250px;
	font-family:	arial;
}

#chart_markpanel
{
	width: 			100%;
	height: 		250px;
	font-family: 	arial;
	text-align: 	center;
	overflow: hidden;
	display: block;
}

.main_mark_overall
{
	background-color: white;
	text-align:		center;
	margin: 		0px auto;
	padding:		0px;
	width: 			100%;
	height: 		125px;
	display: 		block;
	font-size: 		3em;
	font-weight: 	bold;
	line-height:	150px;
}

.main_mark_high
{
	background-color: white;
	text-align:		center;
	margin: 		0px auto;
	width: 			125px;
	height: 		50px;
	display: 		block;
	float: 			right;
	font-size: 		1.25em;
	font-weight: 	bold;
	text-align: 	center;
	line-height:	50px;
}

.main_mark_low
{
	background-color: white;
	text-align:		center;
	margin: 		0px auto;
	width: 			125px;
	height: 		50px;
	display: 		block;
	float: 			left;
	font-size: 		1.25em;
	font-weight: 	bold;
	text-align: 	center;
	line-height:	50px;
}

#listpanel
{
	text-align:		center;
	margin: 		0px auto;
	width: 			100%;
	display: 		inline-block;
}

.pagetitle
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.markentry
{
	width:			100%;
	margin:			0px auto;
	text-align:		left;
}

.markbutton
{
	width:			68%;
	margin:			0px auto;
	text-align:		left;
}

.markedit
{
	width:			15%;
	margin:			0px auto;
	text-align:		center;
}

.markdelete
{
	width:			15%;
	margin:			0px auto;
	text-align:		center;
}

/* This fixes a formatting issue with control groups. 
Don't mess with it. */
.ui-controlgroup-horizontal .ui-controlgroup-controls 
{ 
	display: block; 
}

#markspanel
{
	width: 			100%;
	margin:			0px auto;
	text-align:		center;
	display: 		inline-block;
}

#course_markpanel
{
	border-radius:	10px;
	border: 		2px solid;
	border-color: 	white;
	background-color: white;
	text-align:		center;
	margin: 		0px auto;
	width: 			100%;
	height: 		250px;
	font-family:	arial;
}

#course_mark_overall
{
	text-align:		center;
	margin: 		0px auto;
	width: 			60%;
	height: 		125px;
	display: 		block;
	font-size: 		3em;
	font-weight: 	bold;

	line-height:	150px;
}

#course_mark_high
{
	text-align:		center;
	margin: 		0px auto;
	width: 			125px;
	height: 		50px;
	display: 		block;
	float: 			right;
	font-size: 		1.25em;
	font-weight: 	bold;
	line-height:	50px;
}

#course_mark_low
{
	margin: 		0px auto;
	width: 			125px;
	height: 		50px;
	display: 		block;
	float: 			left;
	font-size: 		1.25em;
	font-weight: 	bold;
	text-align: 	center;
	line-height:	50px;
}

/* Use for debugging divs only */
.wire
{
	border-style: 	solid;
	border-width: 	1px;
	text-align: 	center;
	margin: 		0px auto;
	display: 		inline-block;
}

/*Misc*/

.sublabel
{
	font-weight: 	bold;
}

div.ui-field-contain
{
	border-bottom: 	0px;
}

/* Force override of disabled button */

a.ui-btn.ui-state-disabled
{
	filter: Alpha(Opacity=100) !important;
	opacity: 1.0 !important;
	cursor: default !important;
	pointer-events: none !important;
}